/* #region BASE */

/* #endregion BASE */

/* #region COMPONENTS */

/* #endregion COMPONENTS */

/* #region HEADER */

/* .link-current::after {
    position: absolute;
    content: '';
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    bottom: -3px;
    left: 0;
} */

/* #endregion HEADER */

/* #region HERO */

/* #endregion HERO */

/* #region BENEFITS */

/* #endregion BENEFITS */

/* #region TEAM */

/* #endregion TEAM */

/* #region FOOTER */

/* #endregion FOOTER */

/* #region MODAL  */

/* #endregion MODAL  */
